


.hero{
height:90vh;
width: 100%;
background:url("/tem.jfif") center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:rgb(8, 0, 0);
}

.hero-content h1{
font-size:60px;
}

.hero-content p{
    font-size: 30px;
}
h1 a{
  text-decoration: none;
  color: black;
  
}


.hero button{
padding:12px 25px;
border:none;
background:#ff7a00;
color:white;
border-radius:5px;
box-shadow: 2px 4px 8px black;
}
/* 📱 Tablet */
/* ---------------- */

@media (max-width:900px){

.hero-content h1{
  font-size:40px;
}

.hero-content p{
  font-size:18px;
}

}

/* ---------------- */
/* 📱 Mobile */
/* ---------------- */

@media (max-width:600px){

.hero{
  height:80vh;
  padding:20px;
}

.hero-content{
  padding:25px;
}

.hero-content h1{
  font-size:35px;
}

.hero-content p{
  font-size:20px;
}

.hero-content button{
  font-size:16px;
  padding:10px 20px;
}

}